head{

}
h1{
    text-align: center;
    border: 4px; color: black;
    font-family: "Courier New";

}
p1{

    margin-top: bottom;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: bottom;
    font-size: 20px;
    font-family: "Courier New";
    color: ghostwhite;
    text-align: left;
    line-height: 20px;

}
